<div class="dashboard-container">
  <app-alert-message *ngIf="isShow" (isCloseOutput)="isCloseOutput()"></app-alert-message>
  <div class="banner">
    <h3>Not the state, also the space</h3>
    <p>Let's enjoy with Coffee Countryside</p>
  </div>

  <div class="card-container">
    <div class="card" *ngFor="let item of products">
      <div class="card-header">
        <img src="assets/img/coffee.jpg" alt="" width="100%" height="100%">
      </div>
      <div class="card-content">
        <div class="product-price">
          200.000đ
        </div>
        <div class="product-title">
          Cà Phê Sữa Đá
        </div>
      </div>
      <div class="card-item-footer">
        <button color="primary" (click)="buyOnClick()">
          Buy
        </button>
      </div>
    </div>
  </div>
  <app-back-to-top></app-back-to-top>
</div>

