.dashboard-container {
  width: 100%;
  height: calc(100% - 60px);
  background-color: #f4f3ef;
  padding-top: 50px;
  overflow-y: auto;
  .banner {
    border-radius: 20px;
    background-color: #D3D3D3;
    margin: auto;
    height: 200px;
    width: calc(100% - 100px);
    h3 {
      padding-top: 50px;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
