.toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

.toolbar-login-logo {
    width: 40px;
    background-color: #c7c5f4;
    border-radius: 7px;
}

.user-login-icon {
    width: 30px;
    height: 30px;
}
